*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins',sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    
}
.logo img{
    border: 1px solid rgb(11, 17, 19);
    border-radius: 100px;
    padding:5px;
    width:80px;
}
nav{
    flex: 1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style-type: none;

}
nav ul li{
display: inline-block;
margin-right: 20px;
}
a{
    text-decoration: none;
    color:black;
}
.container{
    max-width:1300px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;

}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
}
.col-2{
    flex-basis: 50%;
    min-width:300px;

}
.col-2 img{
    max-width:100%;
    padding:50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px 0;
    
}
.btn{
    display: inline-block;
    background: orangered;
    color:white;
    padding:8px 30px;/*colom row*/
    margin:30px 0;/*button space between paragraph and button   =>&#8594 arrow code*/
    border-radius:30px;/*button curve radious*/
    transition:background 0.2s;/*button color change timming */
}
.btn:hover{/*used to change color when click on button */
    background: yellowgreen;
}
.header{
    background:radial-gradient(#fff,#ffd6d6);/*or linear-gradient*/
}
.header .row{
    margin-top: 60px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis:30%;
    min-width: 250px;
    margin-bottom:30px
}
.col-3 img{
    width:100%;
}
.small-container{
    max-width:1080px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}
.col-4{
    flex-basis:25%;
    padding:10px;
    min-width:200px;
    margin-bottom:50px;
    transition: transform 0.5s;/*##1 next intilise*/
    /*cursor:pointer;hand courser*/

}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:#555;
}
.title::after{
    content:'';
    background: rgb(231, 10, 10);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
}
h4{
    color:#555;
    font-weight: normal;

}
.col-4 ,p{ 
font-size: 14px;
}
.rating .fa{ /*for adding color to the stars*/
color:rgb(240, 42, 42);
}
.col-4:hover{
    transform: translateY(-5px);/* it moves y axies direction when move mouse to on that picture and insitilise the top(##1)*/
}
.title1{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:#555;
}
.title1::after{
    content:'';
    background: rgb(231, 10, 10);
    width: 30px;/*Line size*/
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
}
/*.....................offer..................*/
.offer{
    background:radial-gradient(#fff,#98dcec);/*or linear-gradient*/
    margin: top 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding:50px;
}
small{
    color:rgb(20, 19, 20);
}
.testimonial{/* (##2)*/
    padding-top:100px;
    
}
.testimonial .col-3{/* (##2)*/
    text-align:center;
    padding:40px 20px;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.1);/*this for box shadow*/
    cursor:pointer;/*hand courser*/
    transition: transform 0.5s;


}
.testimonial .col-3 img{/*This is for on buttom page circelar image (##2)*/
    width: 80px;
    margin-top: 20px;
    border-radius:50px;

}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa fa-quote-left{
    font-size: 34px;
    color:#ff523b;

}
/*............................brands.....................*/
.brands{
    margin:100px auto;/*100px space for top and bottom*/

}
.col-5{
    width:100px;

}
.col-5 img{
    width:100%;
    cursor:pointer;
    filter:grayscale(100);/*timage color change*/
}
.col-5 img:hover{
    filter:grayscale(0);/*transmition effect when cursor move on the image that will shows its original colo*/
}
/*..............footer..............*/
.footer{
    background:#000;
    color:#8a8a8a;
    font-size:14px;
    padding:60px 0 20px;

}
.footer p{
    color:#8a8a8a;
}
.footer h3{/*Space for the h3 text and style*/
    color:#fff;
    margin-bottom:20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  min-width:250px;
  margin-bottom:20px; 

}
.footer-col-1{
flex-basis:30%;
}
.footer-col-2{
    flex:1;
    text-align: center;
   
}
.footer-col-2 img{
   width:180px;
   margin-bottom:20px;

}
.footer-col-3, .footer-col-4 {
    flex-basis:12%;
    text-align:center;
}

ul{
    list-style-type:none;
}
.app-logo{
    margin-top:20px;
}
.app-logo img{
    width:140px;
}
.footer hr{
    border:none;
    background:#b5b5b5;
    height:1px;
    margin:20px 0;
}
.copyright{
    text-align:center;
}
.contact{
    text-align: right;
   
}
.menu-icon{
    width:28px;
    margin-left:20px;
    display:none;/*when it is full screen menu bar is hide*/
}
/*----------media query for menu(hide when full screen and show when it mobile size)-----*/
@media only screen and (max-width: 800px){/*700px is use for when screen size is goes to 700px then it hides the all menus*/
    nav ul{
        position: absolute;
        top:70px;
        left:0;
        background:#333;
        width:100%;
        overflow: hidden;/*hide the menubar when offclick menu*/
        transition:max-height 0.5s;

    }
    nav ul li{
        display:block;
        margin-right:50px;
        margin-top:10px;
        margin-bottom:10px;

    }
    nav ul li a{
        color:white;
    }
    .menu-icon{
        display: block;
        cursor:pointer;
    }
}
/*----------media query for less than 600 screen size covert into mobile size and meta is for mobie screen generator----*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis:100%;
    }
    .single-product .row{/*sinlge product is for singleProduct details page*/
        text-align:left;
    }
    .single-product .col-2{
        padding:20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display:none;/*cart info page(product name hide when it is in mobile mode)*/
    }
    
}
/*---------------------------product.html(all product page)------------------------------*/
.row-2{
    justify-content: space-between;
    margin:100px auto 50px;
}
select{
    border:1px solid red;
    padding:5px;
}
select:focus{/*it focus on not changing border color red when select the option*/
    outline:none;
}
.page-btn{/*this is use for box and desing for the down page buttons (1 2 3 4 ->)*/
    margin:0 auto 80px;
}
.page-btn span{   
    display:inline-block;
    border:1px solid red;
    margin: left 10px;
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    cursor:pointer;
}
.page-btn span:hover{/*color effect for the button while click on (1 2 3 4)*/
    background:red;
    color:white;
}
/*--------------------------- single product.html(sinlge product page)------------------------------*/
.single-product{
    margin-top:80px;
}
.single-product .col-2 img{/*##3*/
    padding:0;
}
.single-product .col-2 {/*space between left coloum and ridht coloum in sinlge product image ##3*/
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size:22px;
    font-weight:bold;
}
.single-product select{
    display:block;/*supparate the line between selct box and input box*/
    padding:10px;
    margin-top:20px;
}
.single-product input{
    width:50px;
    height:40px;
    padding-left:10px;
    font-size:20px;
    margin-right:10px;
    border:1px solid #ff523b

}
input:focus{
    outline:none;
}
.single-product .fa{
    color:red;
    margin-left:10px;

}
.small-img-row{
    display:flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis:24%;
    cursor:pointer;

}
/*-------------cart item details--------------------*/
.cart-page{
    margin:80px auto;
   
}
table{
    width:100%;
    border-collapse:collapse;
}
.cart-info{    
    display:flex;
    flex-wrap:wrap;
}
th{
    text-align:left;
    padding:5px;
    color:#fff;
    background:#ff523b;
    font-weight:normal;
}
td{
    padding:10px 5px;

}
td input{
    width:40px;
    height:30px;
    padding:5px;
}
td a{
    color:#ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right:10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top:3px solid #ff523b;
    width:100%;
    max-width:400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
/*--------account page----------------*/
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}
.form-container{/*shoadow box*/
    background:#fff;
    width:300px;
    height:400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin:auto;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.1);
    overflow : hidden;/*this use for hide the form suppose when click on reg form it hides login form same as login*/
}
.form-container span{
    font-weight:bold;
    padding:0 10px;
    color:#555;
    cursor:pointer;
    width:100px;
    display:inline-block;
}
.form-btn{
    display: inline-block;

}
.form-container form{
    max-width:300px;
    padding:0 20px;
    position:absolute;
    top:130px;
    transition: transform 1s;
}
form input{
    width:100%;
    height:30px;
    margin:10px 0;
    padding:0 10px;
    border:1px solid #ccc;
}
form .btn{
    width:100%;
    border:none;
    cursor:pointer;
    margin:10px 0;
}
form .btn:focus{
    outline:none;
}
#LoginForm{
    left:-300px
}
#RegForm{
    left:0;
}
form a{
    font-size:12px;
}
#Indicator{
    width: 100px;
    border:none;
    background:#ff523b;
    height:3px;
    margin-top:8px;
    transform:translateX(150px);
    transition: transform 1s;
}